**NY STATE ENERGY CONSUMPTION DATA**
- Data in thsnd tons 
- API call from eia.gov
- sent to mysql workbench (creating tables and inserting data)

In [ ]:
import json
import requests
import time
import mysql.connector 
import pandas as pd
from datetime import date, datetime, timedelta
from functools import reduce
import mysql.connector 
from mysql.connector import errorcode

In [2]:
%%capture
from tqdm import tqdm_notebook as tqdm
tqdm().pandas()

In [3]:
#checking connection to db
#config file in directory
import config

In [19]:
cnx = mysql.connector .connect(
    host = config.host,
    user = config.user,
    passwd = config.passwd
)

print(cnx)

<mysql.connector.connection_cext.CMySQLConnection object at 0x11a0b1780>

In [20]:
cursor = cnx.cursor()

In [21]:
cursor.close()
cnx.close()

In [5]:
api_key = config.api_key

**API CALL - EIA.gov (html url)**

In [6]:
coal_monthly_url = f'http://api.eia.gov/series/?api_key={api_key}&series_id=ELEC.CONS_TOT.COW-NY-98.M'
petliq_monthly_url = f'http://api.eia.gov/series/?api_key={api_key}&series_id=ELEC.CONS_TOT.PEL-NY-98.M'
petcoke_monthly_url = f'http://api.eia.gov/series/?api_key={api_key}&series_id=ELEC.CONS_TOT.PC-NY-98.M'
natgas_monthly_url = f'http://api.eia.gov/series/?api_key={api_key}&series_id=ELEC.CONS_TOT.NG-NY-98.M'

In [7]:
response = requests.get(coal_monthly_url)
coal_md = response.json()

{'request': {'command': 'series', 'series_id': 'ELEC.CONS_TOT.COW-NY-98.M'},
 'series': [{'series_id': 'ELEC.CONS_TOT.COW-NY-98.M',
   'name': 'Total consumption : coal : New York : electric power (total) : monthly',
   'units': 'thousand tons',
   'f': 'M',
   'description': 'Summation of all types of coal; Power plants owned by companies whose primary purpose is to produce power; ',
   'copyright': 'None',
   'source': 'EIA, U.S. Energy Information Administration',
   'iso3166': 'USA-NY',
   'geography': 'USA-NY',
   'start': '200101',
   'end': '201907',
   'updated': '2019-09-23T17:31:34-0400',
   'data': [['201907', 20.67],
    ['201906', 0.413],
    ['201905', 0],
    ['201904', 5.204],
    ['201903', 27.486],
    ['201902', 24.012],
    ['201901', 89.869],
    ['201812', 21.612],
    ['201811', 1.413],
    ['201810', 1.274],
    ['201809', 21.333],
    ['201808', 16.441],
    ['201807', 49.24],
    ['201806', 6.253],
    ['201805', 0.753],
    ['201804', 0],
    ['201803', 47.815],
    ['201802', 5.329],
    ['201801', 100.475],
    ['201712', 44.395],
    ['201711', 13.757],
    ['201710', 0],
    ['201709', 18.146],
    ['201708', 6.392],
    ['201707', 18.159],
    ['201706', 24.059],
    ['201705', 26.305],
    ['201704', 10.251],
    ['201703', 26.397],
    ['201702', 17.593],
    ['201701', 36.728],
    ['201612', 26.656],
    ['201611', 0],
    ['201610', 24.817],
    ['201609', 50.284],
    ['201608', 136.384],
    ['201607', 116.262],
    ['201606', 52.887],
    ['201605', 38.986],
    ['201604', 8.227],
    ['201603', 9.36],
    ['201602', 104.688],
    ['201601', 85.313],
    ['201512', 43.303],
    ['201511', 37.384],
    ['201510', 48.783],
    ['201509', 61.199],
    ['201508', 77.043],
    ['201507', 111.17],
    ['201506', 59.917],
    ['201505', 61.609],
    ['201504', 27.386],
    ['201503', 115.235],
    ['201502', 243.727],
    ['201501', 151.149],
    ['201412', 88.19],
    ['201411', 69.735],
    ['201410', 68.116],
    ['201409', 92.167],
    ['201408', 109.171],
    ['201407', 177.241],
    ['201406', 190.431],
    ['201405', 89.584],
    ['201404', 181.847],
    ['201403', 330.381],
    ['201402', 354.241],
    ['201401', 402.454],
    ['201312', 271.084],
    ['201311', 88.11],
    ['201310', 96.715],
    ['201309', 75.859],
    ['201308', 123.836],
    ['201307', 268.909],
    ['201306', 136.645],
    ['201305', 175.135],
    ['201304', 117.779],
    ['201303', 279.131],
    ['201302', 317.058],
    ['201301', 274.519],
    ['201212', 186.521],
    ['201211', 201.227],
    ['201210', 171.938],
    ['201209', 150.797],
    ['201208', 324.112],
    ['201207', 397.55],
    ['201206', 143.686],
    ['201205', 87.243],
    ['201204', 26.282],
    ['201203', 38.305],
    ['201202', 193.919],
    ['201201', 306.719],
    ['201112', 139.148],
    ['201111', 111.006],
    ['201110', 232.951],
    ['201109', 356.89],
    ['201108', 504.405],
    ['201107', 616.061],
    ['201106', 492.675],
    ['201105', 323.608],
    ['201104', 279.104],
    ['201103', 333.906],
    ['201102', 553.229],
    ['201101', 648.516],
    ['201012', 695.664],
    ['201011', 351.359],
    ['201010', 373.745],
    ['201009', 595.819],
    ['201008', 691.466],
    ['201007', 695.495],
    ['201006', 555.98],
    ['201005', 376.675],
    ['201004', 245.397],
    ['201003', 468.674],
    ['201002', 648.287],
    ['201001', 685.683],
    ['200912', 592.756],
    ['200911', 350.598],
    ['200910', 404.383],
    ['200909', 476.949],
    ['200908', 579.432],
    ['200907', 440.273],
    ['200906', 479.24],
    ['200905', 403.632],
    ['200904', 375.818],
    ['200903', 585.045],
    ['200902', 688.955],
    ['200901', 730.76],
    ['200812', 624.231],
    ['200811', 659.78],
    ['200810', 694.741],
    ['200809', 748.607],
    ['200808', 808.389],
    ['200807', 834.597],
    ['200806', 764.96],
    ['200805', 639.681],
    ['200804', 613.573],
    ['200803', 828.357],
    ['200802', 802.181],
    ['200801', 865.737],
    ['200712', 849.534],
    ['200711', 750.751],
    ['200710', 710.226],
    ['200709', 773.186],
    ['200708', 868.117],
    ['200707', 840.217],
    ['200706', 786.792],
    ['200705', 696.916],
    ['200704', 751.619],
    ['200703', 834.698],
    ['200702', 869.881],
    ['200701', 881.045],
    ['200612', 782.48845],
    ['200611', 681.15241],
    ['200610', 662.04424],
    ['200609', 741.64069],
    ['200608', 927.1165],
    ['200607', 981.68381],
    ['200606', 788.51415],
    ['200605', 701.09944],
    ['200604', 696.12317],
    ['200603', 831.98384],
    ['200602', 789.07456],
    ['200601', 834.25575],
    ['200512', 845.83995],
    ['200511', 773.30554],
    ['200510', 732.51299],
    ['200509', 812.37281],
    ['200508', 881.39341],
    ['200507', 918.57224],
    ['200506', 750.36284],
    ['200505', 484.23923],
    ['200504', 658.75434],
    ['200503', 762.95109],
    ['200502', 712.47897],
    ['200501', 736.55882],
    ['200412', 739.86284],
    ['200411', 702.99052],
    ['200410', 727.98386],
    ['200409', 802.92031],
    ['200408', 876.72367],
    ['200407', 889.373],
    ['200406', 834.61683],
    ['200405', 736.91434],
    ['200404', 750.29034],
    ['200403', 854.25441],
    ['200402', 915.6631],
    ['200401', 870.42178],
    ['200312', 826.696],
    ['200311', 798.844],
    ['200310', 787.499],
    ['200309', 802.5],
    ['200308', 860.629],
    ['200307', 923.095],
    ['200306', 759.916],
    ['200305', 625.936],
    ['200304', 697.097],
    ['200303', 832.374],
    ['200302', 839.237],
    ['200301', 892.246],
    ['200212', 881.351],
    ['200211', 816.964],
    ['200210', 873.719],
    ['200209', 840.389],
    ['200208', 870.33],
    ['200207', 934.49],
    ['200206', 734.203],
    ['200205', 621.469],
    ['200204', 616.709],
    ['200203', 650.01],
    ['200202', 588.194],
    ['200201', 726.566],
    ['200112', 738.415],
    ['200111', 566.985],
    ['200110', 666.7],
    ['200109', 619.018],
    ['200108', 922.989],
    ['200107', 880.477],
    ['200106', 774.347],
    ['200105', 671.097],
    ['200104', 713.35],
    ['200103', 886.113],
    ['200102', 853.364],
    ['200101', 964.908]]}]}

In [8]:
response = requests.get(petliq_monthly_url)
petliq_md = response.json()

response = requests.get(petcoke_monthly_url)
petcoke_md = response.json()

response = requests.get(natgas_monthly_url)
natgas_md = response.json()

In [9]:
coal_mdates = pd.DataFrame(coal_md["series"][0]['data'])[0].apply(lambda x: datetime.strptime(x,'%Y%m'))
coal_mseries = pd.DataFrame(coal_md['series'][0]['data'])[1]

mon_coal_NY = pd.concat([coal_mdates, coal_mseries.reindex(coal_mdates.index)], axis=1)

In [10]:
petliq_mdates = pd.DataFrame(petliq_md["series"][0]['data'])[0].apply(lambda x: datetime.strptime(x,'%Y%m'))
petliq_mseries = pd.DataFrame(petliq_md['series'][0]['data'])[1]

mon_petliq_NY = pd.concat([petliq_mdates, petliq_mseries.reindex(petliq_mdates.index)], axis=1)
mon_petliq_NY

             0           1
0   2019-07-01    50.20193
1   2019-06-01    12.14224
2   2019-05-01    24.06632
3   2019-04-01    23.42744
4   2019-03-01    26.74117
5   2019-02-01    98.74642
6   2019-01-01   412.86716
7   2018-12-01         NaN
8   2018-11-01    36.07378
9   2018-10-01    15.40310
10  2018-09-01    48.03584
11  2018-08-01    93.89937
12  2018-07-01    61.24060
13  2018-06-01    34.05786
14  2018-05-01    70.67645
15  2018-04-01    58.91458
16  2018-03-01    25.20802
17  2018-02-01    48.90605
18  2018-01-01  1988.37826
19  2017-12-01   730.39022
20  2017-11-01    10.32773
21  2017-10-01     9.16256
22  2017-09-01    13.77408
23  2017-08-01    24.27144
24  2017-07-01    11.44812
25  2017-06-01    40.99321
26  2017-05-01     9.63698
27  2017-04-01     5.05754
28  2017-03-01    32.68197
29  2017-02-01    56.03559
..         ...         ...
193 2003-06-01  2625.52400
194 2003-05-01  1543.62600
195 2003-04-01  3056.52100
196 2003-03-01  2761.87400
197 2003-02-01  3093.60000
198 2003-01-01  2979.65700
199 2002-12-01  2457.91900
200 2002-11-01  1844.74700
201 2002-10-01  1152.61300
202 2002-09-01  1071.03500
203 2002-08-01  2325.85100
204 2002-07-01  2485.39100
205 2002-06-01  1721.60800
206 2002-05-01  1532.18900
207 2002-04-01  1276.95800
208 2002-03-01  1261.10800
209 2002-02-01   901.18000
210 2002-01-01  1453.80400
211 2001-12-01  1266.60900
212 2001-11-01  1123.31100
213 2001-10-01   937.97400
214 2001-09-01  1036.18300
215 2001-08-01  2673.09000
216 2001-07-01  1971.08700
217 2001-06-01  2590.36700
218 2001-05-01  2546.48800
219 2001-04-01  2788.78200
220 2001-03-01  3462.84500
221 2001-02-01  3279.28200
222 2001-01-01  4788.46100

[223 rows x 2 columns]

In [11]:
petcoke_mdates = pd.DataFrame(petcoke_md["series"][0]['data'])[0].apply(lambda x: datetime.strptime(x,'%Y%m'))
petcoke_mseries = pd.DataFrame(petcoke_md['series'][0]['data'])[1]

mon_petcoke_NY = pd.concat([petcoke_mdates, petcoke_mseries.reindex(petcoke_mdates.index)], axis=1)
mon_petcoke_NY

             0      1
0   2019-07-01  0.000
1   2019-06-01  0.000
2   2019-05-01  0.000
3   2019-04-01  0.000
4   2019-03-01  0.000
5   2019-02-01  0.000
6   2019-01-01  0.000
7   2018-12-01  0.000
8   2018-11-01  0.000
9   2018-10-01  0.000
10  2018-09-01  0.000
11  2018-08-01  0.000
12  2018-07-01  0.000
13  2018-06-01  0.000
14  2018-05-01  0.000
15  2018-04-01  0.000
16  2018-03-01  0.000
17  2018-02-01  0.000
18  2018-01-01  0.000
19  2017-12-01  0.000
20  2017-11-01  0.000
21  2017-10-01  0.000
22  2017-09-01  0.000
23  2017-08-01  0.000
24  2017-07-01  0.000
25  2017-06-01  0.000
26  2017-05-01  0.000
27  2017-04-01  0.000
28  2017-03-01  0.000
29  2017-02-01  0.000
..         ...    ...
193 2003-06-01  3.550
194 2003-05-01  1.848
195 2003-04-01  2.772
196 2003-03-01  2.831
197 2003-02-01  0.645
198 2003-01-01  2.410
199 2002-12-01  3.392
200 2002-11-01  4.592
201 2002-10-01  4.440
202 2002-09-01  4.472
203 2002-08-01  4.718
204 2002-07-01  4.717
205 2002-06-01  3.252
206 2002-05-01  4.168
207 2002-04-01  1.805
208 2002-03-01  2.578
209 2002-02-01  3.500
210 2002-01-01  4.151
211 2001-12-01  4.000
212 2001-11-01  0.000
213 2001-10-01  0.000
214 2001-09-01  2.190
215 2001-08-01  0.570
216 2001-07-01  0.460
217 2001-06-01  0.090
218 2001-05-01  0.000
219 2001-04-01  0.000
220 2001-03-01  0.000
221 2001-02-01  0.350
222 2001-01-01  0.000

[223 rows x 2 columns]

In [12]:
natgas_mdates = pd.DataFrame(natgas_md["series"][0]['data'])[0].apply(lambda x: datetime.strptime(x,'%Y%m'))
natgas_mseries = pd.DataFrame(natgas_md['series'][0]['data'])[1]

mon_natgas_NY = pd.concat([natgas_mdates, natgas_mseries.reindex(natgas_mdates.index)], axis=1)
mon_natgas_NY

             0          1
0   2019-07-01  55865.759
1   2019-06-01  32673.142
2   2019-05-01  23871.364
3   2019-04-01  24542.277
4   2019-03-01  26947.314
5   2019-02-01  28521.780
6   2019-01-01  30743.751
7   2018-12-01  29514.163
8   2018-11-01  30422.783
9   2018-10-01  33418.465
10  2018-09-01  40474.029
11  2018-08-01  55506.121
12  2018-07-01  51804.668
13  2018-06-01  35828.022
14  2018-05-01  31178.147
15  2018-04-01  26274.822
16  2018-03-01  27334.244
17  2018-02-01  30594.497
18  2018-01-01  27946.002
19  2017-12-01  30028.387
20  2017-11-01  25285.907
21  2017-10-01  28818.663
22  2017-09-01  36218.232
23  2017-08-01  43153.523
24  2017-07-01  46793.961
25  2017-06-01  37180.695
26  2017-05-01  26888.115
27  2017-04-01  24266.306
28  2017-03-01  30828.347
29  2017-02-01  25845.871
..         ...        ...
193 2003-06-01  21723.763
194 2003-05-01  17100.288
195 2003-04-01  18314.922
196 2003-03-01  19294.257
197 2003-02-01  16711.094
198 2003-01-01  18687.586
199 2002-12-01  21361.407
200 2002-11-01  23131.931
201 2002-10-01  30298.235
202 2002-09-01  37922.827
203 2002-08-01  48899.821
204 2002-07-01  47533.032
205 2002-06-01  33761.912
206 2002-05-01  23869.353
207 2002-04-01  24407.534
208 2002-03-01  24629.110
209 2002-02-01  23830.773
210 2002-01-01  26059.282
211 2001-12-01  29114.784
212 2001-11-01  26678.557
213 2001-10-01  35308.527
214 2001-09-01  39716.563
215 2001-08-01  52219.677
216 2001-07-01  41800.174
217 2001-06-01  36705.869
218 2001-05-01  27910.455
219 2001-04-01  17686.257
220 2001-03-01  17929.800
221 2001-02-01  16176.186
222 2001-01-01  16162.380

[223 rows x 2 columns]

In [13]:
data_frames = [mon_coal_NY, mon_petliq_NY, mon_petcoke_NY, mon_natgas_NY]

In [14]:
monthly_totalconsumpt_NY = reduce(lambda left, right: pd.merge(left, right, on=[0], how = 'outer'), data_frames)

In [51]:
monthly_totalconsumpt_NY.columns=['date', 'coal', 'petroleum_liq', 'petroleum_coke', 'natural_gas']

In [2]:
monthly_totalconsumpt_NY.head() #in thousand tons

NameError: name 'monthly_totalconsumpt_NY' is not defined

In [53]:
# export = monthly_totalconsumpt_NY.to_csv('data.csv')
monthly_totalconsumpt_NY.columns

Index(['date', 'coal', 'petroleum_liq', 'petroleum_coke', 'natural_gas'], dtype='object')

**CREATE TABLES in Database**

In [67]:
db_name = 'energydb'

In [68]:
cnx = mysql.connector.connect(
    host = config.host,
    user = config.user,
    passwd = config.passwd,
    database = db_name
)
cursor = cnx.cursor()

In [69]:
TABLES = {}
TABLES['NY_consumpt_m'] = (
    "CREATE TABLE NY_consumpt ("
    "  date date PRIMARY KEY,"
    "  coal REAL,"
    "  petroleum_liq REAL,"
    "  petroleum_coke REAL,"
    "  natural_gas REAL"
    ") ENGINE=InnoDB")

In [70]:
cnx.commit()

In [71]:
for table_name in TABLES:
    table_description = TABLES[table_name]
    try:
        print("Creating table {}: ".format(table_name), end='')
        cursor.execute(table_description)
    except mysql.connector.Error as err:
        if err.errno == errorcode.ER_TABLE_EXISTS_ERROR:
            print("already exists.")
        else:
            print(err.msg)
    else:
        print("OK")

cursor.close()
cnx.close()

Creating table NY_consumpt_m: OK

**INSERT DATA INTO TABLES**

In [84]:
cnx = mysql.connector.connect(
    host = config.host,
    user = config.user,
    passwd = config.passwd,
    database = db_name
)
cursor = cnx.cursor()

In [85]:
def send_to_sql(dflisty, cursor):
    """
    takes energy consumption data (monthly fuels) = coal, pet liq, pet coke, and natural gase 
    ***in thousand tons***
    """
    cursor.execute('USE energydb')
    for i, row in dflisty.iterrows():
        print(i)
        
        cursor.execute("""INSERT INTO NY_consumpt(
                                        date,
                                        coal,
                                        petroleum_liq,
                                        petroleum_coke,
                                        natural_gas
                                        )
        VALUES ('{}','{}','{}','{}','{}'
        )""".format(row['date'],
                    row['coal'],
                    row['petroleum_liq'],
                    row['petroleum_coke'],
                    row['natural_gas']))
        cnx.commit()

In [87]:
cursor.close()
cnx.close()

In [86]:
send_to_sql(monthly_totalconsumpt_NY, cursor)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222